{
  "presets": [
    ["env", {
      "modules": false,
      "include": ["transform-es2015-classes"]
    }],
    "react",
    "stage-2"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "syntax-export-extensions"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
