.block-header {
  &__num {
    font-size: $fzXLG;
    color: #3C476C;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    span {
      font-size: $fzSM;
      color: $dark-light;

      &:first-child {
        display: block;
        width: 7.6rem;
      }

      &:last-child {
        margin-left: 3.3rem;
      }
    }
  }
}

.operation {
  &__block {
    margin-top: 4rem;
    font-family: $secondary-font;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;

      .number {
        color: $dark;
        font-size: 15.65px;
        font-weight: 600;
        margin-right: 1.5rem;
      }
    }
  }

  &__row {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $dark-light;
    font-size: 13.82px;
    letter-spacing: 0.25px;
    line-height: 20px;

    .title {
      min-width: 150px;
      word-break: break-all;
      margin-right: 2.5rem;
      align-self: flex-start;
    }

    .link_account {
      color: $dark-light;
    }

    .link_account:hover {
      text-decoration: underline;
    }

    .content {
      font-weight: 600;
      word-break: break-all;
    }
  }
}

a {
  cursor: pointer;
}