.dropdown{
  position: relative;
  &__btn-wrapper{
    width: 100%;
    text-align: left;
  }
  &__body{
    min-width: 100%;
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: scaleY(0);
    opacity: 0;
    transition: $anim;
    background: $white;
    box-shadow: $shadow-bold;
    border-radius: 4px;
    z-index: 1;
  }
  &__item{
    white-space: nowrap;
    & > button{
      width: 100%;
      padding: 1rem 1.5rem;
      text-align: left;
      &:hover{
        background: $grey-light;
      }
    }
  }
  .field{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.open{
  > .dropdown__body{
    transform: scaleY(1) translateY(100%);
    bottom: 0;
    opacity: 1;
  }
  .field{
    &__caret{
      transform: rotate(180deg);
    }
  }
}

.top-right{
  .dropdown__body{
    bottom: 120%;
    left: 120%;
  }
  &.open{
    > .dropdown__body{
      transform: scaleY(1) translate(-100%, 100%);
      bottom: 100%;
      left: 100%;
    }
  }
}

.top-left{
  .dropdown__body{
    bottom: 120%;
    left: -20%;
  }
  &.open{
    > .dropdown__body{
      transform: scaleY(1) translate(0, 100%);
      bottom: 100%;
      left: 0;
    }
  }
}

.top-center{
  .dropdown__body{
    bottom: 120%;
    left: 50%;
  }
  &.open{
    > .dropdown__body{
      transform: scaleY(1) translate(-50%, 100%);
      bottom: 100%;
      left: 50%;
    }
  }
}

.bottom-right{
  .dropdown__body{
    bottom: 120%;
    left: 100%;
  }
  &.open{
    > .dropdown__body{
      transform: scaleY(1) translate(-100%, 100%);
      bottom: 0;
      left: 100%;
    }
  }
}

.field{
  width: 100%;
  position: relative;
  display: block;
  min-height: 5.6rem;
  padding: 2.6rem 1.2rem .8rem 1.6rem;
  box-sizing: border-box;
  font-size: $fzLG;
  font-weight: 500;
  &.with-bg{
    background: $grey-light;
  }
  &.with-border{
    border-bottom: 2px solid $dark-light;
    &.error{
      border-color: $negative;
    }
  }
  &__label{
    position: absolute;
    top: 50%;
    left: 1.6rem;
    font-size: $fzLG;
    color: $dark-light;
    transform: translateY(-50%);
    transition: $anim;
    z-index: 0;
    &.squeezed{
      top: .8rem;
      font-size: $fzSM;
      transform: translateY(0);
    }
  }
  &__text{
    display: inline-block;
  }
  &__input{
    width: 100%;
    display: inline-block;
    position: relative;
    background: transparent;
    border: 0;
    font: 500 16px Roboto;
    z-index: 1;
    &:focus, &:active{
      outline: 0;
    }
    &:focus, &:active, &:not(:placeholder-shown){
      + .field__label{
        top: .8rem;
        font-size: $fzSM;
        transform: translateY(0);
      }
    }
    &:disabled{
      color: $dark;
    }
  }
  &__caret{
    width: 1rem;
    position: absolute;
    top: 50%;
    right: 1.9rem;
    transition: $anim;
    transform: translateY(-50%);
  }
  &__comment, &__error{
    position: absolute;
    top: 100%;
    left: 0;
    padding: .5rem 2rem;
    font-size: $fzSM;
  }
  &__comment{
    color: $dark-light;
  }
  &__error{
    color: $negative;
  }
}

form{
  position: relative;
  .field{
    margin-bottom: 4rem;
  }
  &.loading{
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}