.dropdown{
  position: relative;
  font-family: $secondary-font;
  &__btn-wrapper{
    width: 100%;
    text-align: left;
    display: flex;
  }
  &__body{
    min-width: 100%;
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: scaleY(0);
    opacity: 0;
    transition: $anim;
    background: $white;
    box-shadow: $shadow-bold;
    border-radius: 4px;
    z-index: 2;
  }
  &__item{
    white-space: nowrap;
    & > button{
      width: 100%;
      padding: 1rem 1.5rem;
      text-align: left;
      &:hover{
        background: $grey-light;
      }
    }
  }
  .field{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 0;
  }
}

.open{
  > .dropdown__body{
    transform: scaleY(1) translateY(100%);
    bottom: 0;
    opacity: 1;
  }
  &.dropdown .field{
    &__caret{
      transform: rotate(180deg);
    }
  }
}

.top-right{
  .dropdown__body{
    bottom: 120%;
    left: 120%;
  }
  &.open{
    > .dropdown__body{
      transform: scaleY(1) translate(-100%, 100%);
      bottom: 100%;
      left: 100%;
    }
  }
}

.top-left{
  .dropdown__body{
    bottom: 120%;
    left: -20%;
  }
  &.open{
    > .dropdown__body{
      transform: scaleY(1) translate(0, 100%);
      bottom: 100%;
      left: 0;
    }
  }
}

.top-center{
  .dropdown__body{
    bottom: 120%;
    left: 50%;
  }
  &.open{
    > .dropdown__body{
      transform: scaleY(1) translate(-50%, 100%);
      bottom: 100%;
      left: 50%;
    }
  }
}

.bottom-right{
  .dropdown__body{
    bottom: 120%;
    left: 100%;
  }
  &.open{
    > .dropdown__body{
      transform: scaleY(1) translate(-100%, 100%);
      bottom: 0;
      left: 100%;
    }
  }
}

