.dropdown{
  position: relative;
  font-family: $secondary-font;
  &__btn-wrapper{
    width: 100%;
    text-align: left;
    display: flex;
  }
  &__body{
    min-width: 100%;
    height: fit-content;
    position: absolute;
    left: 0;
    top: 80%;
    opacity: 0;
    transition: $anim;
    background: $white;
    box-shadow: $shadow-bold;
    border-radius: 4px;
    z-index: -1;
    &.custom-scroll{
      max-height: 20rem;
    }
  }
  &__item{
    white-space: nowrap;
    & > button{
      width: 100%;
      padding: 1rem 1.5rem;
      text-align: left;
      &:hover{
        background: $grey-light;
      }
    }
    & > span{
      display: block;
      padding: 1rem 1.5rem;
      text-align: left;
      font-family: Open Sans,sans-serif;
      font-size: 1.4rem;
      transition: .15s;
      &:hover{
        background: $grey-light;
      }
    }
  }
  .field{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 0;
  }
}

.open{
  > .dropdown__body{
    top: 100%;
    opacity: 1;
    z-index: 2;
  }
  &.dropdown .field{
    &__caret{
      transform: rotate(180deg) translateY(50%);
    }
    &__border{
      width: 100%;
    }
  }
}

.top-right{
  > .dropdown__body{
    top: 0;
    left: 100%;
    transform: translate(-90%, -10%);
  }
  &.open{
    > .dropdown__body{
      transform: translate(-100%, 0);
    }
  }
}

.top-left{
  > .dropdown__body{
    top: 0;
    left: 0;
    transform: translate(-10%, -10%);
  }
  &.open{
    > .dropdown__body{
      transform: translate(0);
    }
  }
}

.top-center{
  > .dropdown__body{
    top: 0;
    left: 50%;
    transform: translate(-50%, -10%);
  }
  &.open{
    > .dropdown__body{
      transform: translate(-50%, 0);
    }
  }
}

.bottom-right{
  > .dropdown__body{
    transform: translate(-85%, -10%);
    top: 150%;
    left: 0;
  }
  &.open{
    > .dropdown__body{
      transform: translate(-95%, 0);
    }
  }
}

