.pair-stats{
  width: 100%;
  height: 6.4rem;
  display: flex;
  align-items: center;
  padding: 0 2.5rem 0 3.2rem;
  border-bottom: 2px solid #E2E4ED;
  box-sizing: border-box;
  color: #3C476C;
  background-color: $white;
  &__selector{
    position: relative;
    margin-right: 5rem;
    padding-right: 2.5rem;
    font-weight: 700;
    color: #3C476C;
    .field__caret{
      right: 0;
    }
  }
  &__base{
    font-size: $fzXLG + 0.1rem;
  }
  &__quote{
    font-size: $fzLG;
  }
  &__item{
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
  }
  &__value{
    display: flex;
    align-items: flex-end;
    margin-bottom: .1rem;
    line-height: 1;
    font-weight: 700;
    font-size: $fzLG;
  }
  &__item-title, &__item-asset{
    font-size: $fzSM;
    color: rgba(60,71,108,0.5);
  }
  &__item-asset{
    font-weight: normal;
    margin-left: 0.8rem;
  }
  &__update{
    margin-left: auto;
  }
}

.exchange{
  min-height: calc(100vh - 12rem);
  display: flex;
  align-items: stretch;
  &__left, &__right{
    width: 345px;
    color: $white;
    background: $white;
    &.empty{
      width: 0;
    }
    .tabs{
      &__head-item{
        padding: 1rem 0;
      }
    }
  }
  &__left{
    .no-data{
      height: calc(100vh - 16rem);
    }
    .custom-scroll{
      height: calc(100vh - 16rem);
    }
  }
  &__center{
    height: calc(100vh - 12rem);
    flex: 1;
    overflow-y: auto;
    border-width: 0 2px;
    border-style: solid;
    border-color: #E2E4ED;
  }
  &__graph{
    height: 42.4rem;
    margin: 0 0 2rem 2rem;
    padding: 2rem 1rem 0 0;
    background: $white;
    box-sizing: border-box;
  }
  &__center-content{
    min-height: calc(100vh - 57rem);
    display: flex;
    border-top: 2px solid #E2E4ED;
    background: $white;
    .no-data{
      height: calc(100vh - 60rem);
    }
    .custom-scroll{
      height: calc(100vh - 60rem);
    }
  }
  &__content-primary{
    flex: 1;
    border-right: 2px solid #E2E4ED;
  }
}

.order-book{
  &__table{
    height: calc(100vh - 26rem);
    position: relative;
    overflow-y: auto;
  }
  &__spread-wrapper{
    height: 5.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 0 1.4rem 0 2.8rem;
    color: #3C476C;
    font-size: $fzLG;
    border-bottom: 1px solid rgba(0,0,0,.12);;
  }
  &__spread{
    margin-right: 1rem;
    font-weight: normal;
    font-size: $fzSM;
    color: rgba(60,71,108,0.5);
  }
}

.order-book{
  > .custom-scroll{
    height: calc(100vh - 23.5rem);
  }
  > .table{
    display: block;
    .table__header{
      display: flex;
    }
    .table__cell{
      width: 33%;
    }
  }
  &__table .table{
    display: block;
    &__body{
      display: block;
    }
    &__row{
      display: flex;
    }
    &__cell{
      width: 33%;
    }
  }
}

.order-filters {
  display: flex;
  justify-content: space-between;
  padding: .8rem 0 .8rem 1.6rem;
  &__types {
    display: flex;
  }
  &__type {
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: $anim;
    &.active, &:hover {
      background: rgba(60, 71, 108, 0.11);
    }
    span {
      width: 14px;
      height: 2px;
      background-color: $negative;
      &:not(:last-child) {
        margin-bottom: 1px;
      }
    }
    &--all span {
      &:nth-child(3), &:nth-child(4) {
        background-color: $positive;
      }
    }
    &--buy span {
      background-color: $positive;
    }
  }
  &__threshold-wrapper{
    display: flex;
    align-items: center;
    .field{
      min-height: auto;
      margin-top: 1px;
      padding: 0 3rem 0 1rem;
      background-color: transparent;
      &.without-label .field__text{
        font-size: $fzSM;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      &__caret{
        right: 1.1rem;
      }
    }
  }
  &__threshold{
    color: rgba(60,71,108,0.48);
    text-transform: uppercase;
    font-size: $fzSM;
  }
}

.exchange-form{
  width: 27.6rem;
  padding: 0 1.6rem 2rem;
  box-sizing: border-box;
  &__title{
    padding: 1.2rem 0;
    box-sizing: border-box;
    color: #3C476C;
    text-transform: uppercase;
    text-align: center;
    font-size: $fzMD;
    font-weight: 600;
  }
  &__info-wrapper{
    margin: 3.2rem 0 2.4rem;
    color: rgba(60,71,108,0.5);
    font-size: $fzSM;
  }
  &__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: .8rem;
  }
  .field{
    margin-bottom: 2rem;
  }
  .btn-round{
    width: 100%;
  }
}

.pair-selector{
  &__inputs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.3rem;
  }
  &__subtitle{
    font-size: $fzLG;
    font-weight: 500;
    margin-bottom: 1.6rem;
    color: $dark-light;
    font-family: $secondary-font;
  }
}
