.global-search{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  background: $white;
  transform: translateY(-100%);
  transition: $anim;
  opacity: 0;
  &.open{
    transform: translateY(0);
    opacity: 1;
    .global-search__result{
      height: inherit;
    }
  }
  &__form{
    border-bottom: 1px solid #E2E4ED;
  }
  .search{
    width: calc(100% - 10rem);;
    height: 6.1rem;
    margin: 0 5rem;
    padding: 0 7rem;
    box-sizing: border-box;
    box-shadow: none;
  }
  &__filter, &__result{
    margin: 1.6rem 5rem;
  }
  &__filter{
    .dropdown{
      width: 13.5rem;
    }
  }
  &__result{
    max-height: calc(100vh - 15.6rem);
    overflow-x: hidden;
  }
  &__card{
    display: inline-block;
    padding: 1.6rem 3.2rem;
    color: $dark-light;
  }
  .card{
    transition: $anim;
    &:hover{
      box-shadow: $shadow-bold;
    }
  }
  .asset-stats{
    margin-bottom: 2rem;
  }
}