.notify-btn{
  position: relative;
  &__unread-counter{
    width: 1.4rem;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-25%, -50%);
    background: $negative;
    color: $white;
    text-align: center;
    border-radius: 50%;
    font-size: $fzSM - .2rem;
    opacity: 0;
    transition: $anim;
    &.shown{
      opacity: .5;
    }
  }
  &:hover{
    .notify-btn__unread-counter.shown{
      opacity: 1;
    }
  }
}

.dropdown.open{
  .mask{
    opacity: 1;
  }
  .notify-btn__unread-counter.shown{
    opacity: 1;
  }
}

.notify{
  width: 36rem;
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 1.6rem 2.1rem;
  }
  &__title{
    font-size: $fzLG;
  }
  &__actions{
    display: flex;
    align-items: center;
    > button{
      margin-right: .5rem;
    }
  }
  &__search-wrapper{
    &.open .notify__search-field{
      opacity: 1;
      z-index: 2;
      transform: translateY(0);
    }
  }
  &__search-field{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-10%);
    z-index: -1;
    transition: $anim;
    .search{
      height: 4.8rem;
      padding: 1rem 5.2rem;
    }
  }
  &__items-wrapper{
    max-height: 71.1rem;
    overflow-y: auto;
    transition: $anim;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    font-size: $fzSM;
    border-bottom: 1px solid $grey-light;
    transition: $anim  / 2;
    z-index: 1;
    .avatar{
      width: 4rem;
      height: 4rem;
      margin-right: 1.7rem;
      border-radius: 50%;
      background: $white;
    }
  }
  &__data{
    flex: 1;
  }
  &__text{
    letter-spacing: 0.4px;
    line-height: 1.6rem;
  }
  &__date-wrapper{
    display: flex;
    margin-top: .7rem;
    color: $dark-light;
  }
  &__date{
    margin-right: 1.3rem;
  }
  .no-data{
    font-size: $fzXLG * 2;
    margin-bottom: 4rem;
  }
}

.error.notify__item{
  background-color: $negative;
  color: $white;
  .notify__date-wrapper{
    color: $white;
  }
  .avatar{
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg{
    margin-top: -2px;
  }
}

div.custom-scroll{
  overflow-y: auto;
  &::-webkit-scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    width: .4rem;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $grey;
    border-radius: 2px;
  }
}

.search{
  width: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: $white;
  box-shadow: $shadow-default;
  &__icon, &__close{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__icon{
    left: 1.2rem;
  }
  &__close{
    width: 1.9rem;
    height: 1.9rem;
    right: 1.2rem;
  }
  &__field{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: $secondary-font;
    font-size: $fzLG;
    border-width: 0;
    &:focus, &:active{
      outline: 0;
    }
  }
}