.permissions{
  padding-top: 2rem;
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.3rem .8rem 1.3rem 1.6rem;
    &:not(:first-of-type){
      margin-top: 7.2rem;
    }
  }
  &__title{
    font-size: $fzLG;
    margin-bottom: .5rem;
  }
  &__subtitle{
    font-size: $fzSM;
    color: $dark-light;
  }
  &__filter-wrapper{
    display: flex;
    align-items: center;
    > span{
      color: $dark-light;
    }
    .dropdown{
      margin-left: 1.3rem;
      &:last-child{
        .field{
          width: 9.5rem;
        }
      }
    }
    .field{
      width: 13.4rem;
      min-height: fit-content;
    }
    > .field{
      width: 9.5rem;
    }
  }
  .table{
    margin: 1.2rem 0 1.8rem;
  }
  &__history.table{
    margin-bottom: 10rem;
  }
  &__new-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    > .field{
      min-height: auto;
      padding: 0 1.2rem 0 1.6rem;
      border-radius: 4px;
      &:nth-child(1){
        flex: 1;
      }
      &:nth-child(2){
        width: 6.4rem;
        margin: 0 5rem 0 3.2rem;
      }
    }
    > button{
      width: 1.5rem;
      margin-right: 2.5rem;
    }
  }
  &__number {
    padding-left: 1rem;
    color: $dark-light;
    font-family: $secondary-font;
    font-size: 15.65px;
    font-weight: 600;
    letter-spacing: 0.15px;
    line-height: 24px;
  }
}

.save-changes{
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100vw - 1.8rem);
  height: 10rem;
  background: $white;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  opacity: 0;
  transition: $anim;
  box-shadow: $shadow-default;
  transform: translate3d(0, 100%, 0);
  z-index: 5;
  &.shown{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__fee{
    display: flex;
    span{
      &:last-child{
        display: block;
        margin-left: 2.4rem;
        color: $dark-light;
      }
    }
  }
  &__btn-wrapper{
    display: flex;
    align-items: center;
    button:first-child{
      margin-right: 4rem;
      color: $blue-dark;
      &:hover{
        color: $grey;
      }
    }
  }
  //button{
  //  display: block;
  //  margin: 0 1rem;
  //}
}