.switch{
  display: flex;
  align-items: center;
  user-select: none;
  &:hover{
    cursor: pointer;
  }
  input{
    display: none;
  }
  &__icon{
    width: 2.2rem;
    height: 1.2rem;
    position: relative;
    border: 1.5px solid $dark-light;
    box-sizing: border-box;
    border-radius: 9px;
    transition: $anim;
    &:after{
      content: "";
      position: absolute;
      top: 50%;
      right: calc(100% - 9px);
      width: .7rem;
      height: .7rem;
      border-radius: 50%;
      background: $dark-light;
      transform: translateY(-50%);
      transition: $anim;
    }
  }
  &__title{
    margin-left: 1.5rem;
    line-height: 1;
  }
  &--selected{
    .switch{
      &__icon{
        border-color: $positive;
        &:after{
          background: $positive;
          right: 2px;
        }
      }
    }
  }
  &.right-sided{
    flex-direction: row-reverse;
    .switch{
      &__icon{
        margin: 0 auto 0 2.5rem;
      }
      &__title{
        margin-left: 0;
      }
    }
  }
}