//fonts

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

//font-size

$fzSM: 1.2rem;
$fzMD: 1.4rem;
$fzLG: 1.6rem;
$fzXLG: 2rem;

//colors

$white: #fff;
$light: #fafafa;
$grey-light: rgba(0,0,0,0.12);
$grey: rgba(0,0,0,0.32);
$dark-light: rgba(0,0,0,0.6);
$dark: rgba(0,0,0,0.87);
$blue: #0090D8;
$blue-light: #0ca3ef;
$negative: #FF444A;
$positive: #2EBD41;

$border-color: #e3e3e3;
$button: #647090;

//animation

$anim: 0.3s;

//shadow
$shadow-default: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
$shadow-bold: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);