.btn{
  &--icon{
    padding: 1rem 1.7rem;
    border-radius: 50%;
    transition: $anim;
    &:hover{
      background: $grey-light;
      .mask{
        opacity: 1;
      }
    }
  }
  &--round{
    min-width: 13rem;
    padding: 1rem 1.6rem;
    text-transform: uppercase;
    color: $white;
    background-color: $blue-dark;
    box-shadow: $shadow-default;
    border-radius: 2.5rem;
    letter-spacing: 1.25px;
    &:hover{
      background-color: $blue;
    }
  }

  &--worker {
    text-transform: capitalize;
  }
}

.btn-round{
  padding: 1rem 2.4rem;
  text-transform: uppercase;
  color: $white;
  background-color: $blue-dark;
  box-shadow: $shadow-default;
  text-align: center;
  border-radius: 2.5rem;
  letter-spacing: 1.25px;
  line-height: 1;
  border: 1px solid $blue-dark;
  box-sizing: border-box;
  &:hover{
    background-color: $blue;
    border-color: $blue;
  }
  &--grey{
    padding: .6rem 1.6rem;
    background-color: transparent;
    border-color: $grey-light;
    color: $grey;
    box-shadow: none;
    &:hover{
      color: $white;
      background-color: $grey-light;
      border-color: $grey-light;
    }
  }
  &--light-blue{
    background-color: $blue;
    border-color: $blue;
    color: $white;
    box-shadow: none;
    &:hover{
      background-color: $blue-dark;
      border-color: $blue-dark;
    }
  }
}