.contact {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  padding-left: 1rem;

  &:hover {
    background-color: rgba(0, 158, 230, 0.04);
    .actions__on-hover {
      opacity: 1;
    }

    .mask {
      fill: #e60014;
      transition: 0ms !important;
    }
  }

  .avatar {
    margin-right: 2rem;
  }

  &__content {
    width: 95%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $grey-light;
  }

  &__data {
    width: auto;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .contact__name {
      font-size: 15.65px;
      font-weight: 600;
      font-family: $secondary-font;
      color: $dark;
    }

    .contact__id {
      font-size: 13.82px;
      color: $dark-light;
      padding-top: 0.2rem;
    }
  }

  &__icons {
    margin-right: 2rem;

    button {
      margin-left: 1.6rem;
    }
  }
}

.contacts {
  &__lists {
    .title {
      font-size: 11.85px;
      text-transform: uppercase;
      color: $dark-light;
      font-family: $secondary-font;
      margin: 3.5rem 0 1.5rem 0;
      letter-spacing: 2px;
      line-height: 16px;
    }
  }

  &__info {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    .dropdown {
      margin-right: 0.5rem;
    }

    .blacklisted {
      display: flex;
      margin-right: 4rem;

      span {
        color: $dark-light;
        font-family: $secondary-font;
        font-size: 13.82px;
        letter-spacing: 0.25px;
        line-height: 20px;
      }
    }

    .contacts__count {
      font-family: $primary-font;
      color: $dark-light;
      font-size: 12px;
      letter-spacing: 0.4px;
      line-height: 16px;
      margin-right: 4rem;
    }
  }

  &__favourite {
    .mask {
      fill: green;
    }
  }
}