.tabs{
  color: #3C476C;
  &__head{
    display: flex;
    .assets__radio-wrapper{
      flex: 1;
      margin-bottom: 4.5rem;
    }
  }
  &__head-item{
    flex: 1;
    padding: .5rem 0;
    text-transform: uppercase;
    color: #3C476C;
    background-color: #e9ebf3;
    font-size: $fzSM + .1rem;
    transition: $anim;
    &.active{
      background-color: $white;
    }
  }
}