.upload{
  min-height: 3.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover{
    cursor: pointer;
  }
  &__text, &__file-name{
    display: block;
  }
  &__text{
    margin-bottom: 0.5rem;
  }
  &__input{
    display: none;
  }
  &__btn{
    text-align: center;
  }
}